



@font-face{
	font-family: 'IconsFont';
	src: url('../fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.iconsfont{

	font-family: 'IconsFont';

}	

.post article{

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;


-webkit-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow:    -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
box-shadow:         -3px -3px 10px 0px rgba(50, 50, 50, 0.79);


}
.page article{

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;


-webkit-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow:    -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
box-shadow:         -3px -3px 10px 0px rgba(50, 50, 50, 0.79);


}

#index {

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;


-webkit-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow:    -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
box-shadow:         -3px -3px 10px 0px rgba(50, 50, 50, 0.79);


}



.tospin {


display: inline-block;
webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
         -o-transform: rotateY(360deg);
            transform: rotateY(360deg);



}	

.siteBio {

font-family: 'Lato', sans-serif;
font-size: 100%;
font-style: italic;
}


.top-navigation li a {


}	


.nav .Posts{


}	

.nav .Arch{


}

