



@font-face{
	font-family: 'IconsFont';
	src: url('../fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.iconsfont{

	font-family: 'IconsFont';

}	

.post article{

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;
padding-bottom: 35px;


-webkit-box-shadow: -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
-moz-box-shadow:    -3px -3px 10px 0px rgba(50, 50, 50, 0.79);
box-shadow:         -3px -3px 10px 0px rgba(50, 50, 50, 0.79);


}
.page article{

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;
padding-bottom: 35px;

border-width: 4px;
border-color: #b1ac9e;
border-style: double double double solid;





}

#index {

background-color:#fdf6e3;

padding-left: 40px; !important
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;
padding-bottom: 18px;

border-width: 4px;
border-color: #b1ac9e;
border-style: double double double solid;



}

#titlename i{

color: #dc322f;	
font-size: 135%;


}	

.tospin {


display: inline-block;
-webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
         -o-transform: rotateY(360deg);
            transform: rotateY(360deg);



}

.navigation-wrapper a:hover{

color: #343434;

}	

.navigation-wrapper a:visited{

color: #343434;
	

}

.navigation-wrapper a:focus{

color: #343434;	

}	

.siteBio {

font-family: 'Lato', sans-serif;
font-size: 100%;
font-style: italic;
}


.top-navigation li a {


}	


.nav .Posts{


}	

.nav .Arch{


}

