<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="{{page.title}}">
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
  <div class="sidesine">
	 {% include _side-sine.html %}
 </div>

</div><!-- /#index -->


<script type="text/javascript">

/* Create a cache object */
var cache = new LastFMCache();
/* Create a LastFM object */
var lastfm = new LastFM({
  apiKey    : '3f7a62bedd43ef8963c8a9895fdc7ad0',
  apiSecret : '7e732871d0fcabc9c85cb0830a52041a',
  cache: cache

});
</script>


{% for albumel in page.music %}

<script type="text/javascript">

/* Load some artist info. */
lastfm.album.getInfo({artist: '{{albumel.by}}',album: '{{albumel.name}}'}, {success: function(data){


var name = data.album.name;
var artist = data.album.artist;
var releasedate = data.album.releasedate;
{% if albumel.name == 'IV' %}
releasedate = '8 Nov 1971'
{% endif %}
 {% if albumel.name == 'Hot Space' %}
releasedate = '21 Nov 1981'
{% endif %}

var pieces = releasedate.split(",");
var date = pieces[0];
var tags = data.album.toptags.tag;
var tag;
var url = data.album.image[2]["#text"];
var albumimage = '<img src="'+url+'">';
var title = '<p>' + artist + ' - ' + name +'</p>';
var dateelem = '<p>' +'Released: '+ date + '</p>';

var html = title;
html += dateelem;
var codetag;
var tag;
var length = tags.length;
html += '<p>';
html += 'Tags: ';
for(var i=0; i<tags.length; i++)
{
   tag = tags[i];
   if(tag.name != "albums i own")
   {
		codetag = '<code>'+ tag.name + '</code>';
        html += codetag;


   } 
   

}
html += '</p>';
html = '<div class="album"> <div class="albumimage">'+albumimage+'</div><div class="albumcontent">'+html+'</div></div>';
$('.albums').append(html);
}, error: function(code, message){
  
}});







</script>




{% endfor %}


<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
