<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <div class="headline-wrap">
      {% if page.link %}
        <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
		<p class="byline"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% else %}
        <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
		<p class="byline"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% endif %}
    </div><!--/ .headline-wrap -->


    <div class="article-wrap">
      {{ content }}
      
      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include _author-bio.html %}
        </div>
 <!--       <p class="byline"><strong>{{ page.title }}</strong> was published
			on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %} by <a href="{{ site.url }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.</p> -->
      </footer>
    </div><!-- /.article-wrap -->
  {% if site.disqus_shortname and page.comments %}
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  {% endif %}
  </article>
<div class="sidesine">
	 {% include _side-sine.html %}
 </div>
  
</div><!-- /#main -->

{% for codetag in page.code %}

{% if codetag.type == 'bash' %}

<script type="text/javascript">
$( document ).ready(function() {
     
       $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Bash'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}

{% if codetag.type == 'file' %}

<script type="text/javascript">
$( document ).ready(function() {
     
       $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
			  rel:'  {{codetag.file}}'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}

{% if codetag.type == 'python' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");

	   
		 $("<span>",{
	       rel:'  Python'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}

{% if codetag.type == 'packages' %}

<script type="text/javascript">
$( document ).ready(function() {
     
      $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Packages'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'c' %}

<script type="text/javascript">
$( document ).ready(function() {
     
       $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  C'
		   }).appendTo("pre:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'html' %}

<script type="text/javascript">
$( document ).ready(function() {
     
       $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Html'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'java' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Java'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'javascript' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Javascript'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'nodejs' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Nodejs'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'perl' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Perl'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'php' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Php'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}
{% if codetag.type == 'ruby' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Ruby'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}


{% if codetag.type == 'csharp' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:' '
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}


{% if codetag.type == 'cplusplus' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:' '
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}




{% if codetag.type == 'css' %}

<script type="text/javascript">
$( document ).ready(function() {
     
        $(".highlight").children().addClass("terminal");
	   
		 $("<span>",{
	       rel:'  Css'
		   }).appendTo(".terminal:eq({{codetag.count}})");

});	

</script>
{% endif %}


{% endfor %}




<div class="footer-wrap">
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ site.url }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
</html>
