.tospin
  {
  display: inline-block;
      -webkit-transform: rotate(360deg);
         -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
           -o-transform: rotate(360deg);
              transform: rotate(360deg);
  
 }
